body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
.link {
  color: #0a93ee;
  text-decoration: none;
}
a:visited {
  color: #0a93ee;
  text-decoration: none;
}
a:hover,
.link:hover {
  color: rgb(0, 105, 170);
  font-size: 17px;
  cursor: pointer;
}

.center {
  justify-content: center;
  display: flex;
}
.center h1 {
  text-align: center;
}

nav {
  margin-top: 10px;
}

input {
  margin-bottom: 15px;
}

.margin {
  margin-left: 20%;
}
